apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
 projectVar: <+variable.stringvar>
 orgVar: <+variable.org.stringvar>
 accVar: <+variable.account.stringvar>
 svcVar: <+serviceVariables.stringvar>
 envVar: <+env.variables.stringvar>
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
stringData:
  secret1: <+secrets.getValue("account.vaultrefsecret")>
  
