apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.expressionsSecretName }}
type: Opaque
stringData:
  HARNESS_GITOPS_SECRET_FROM_SECRET_0: <+secrets.getValue("account.GitopsVaultSecretInline")>
  HARNESS_GITOPS_SECRET_FROM_SECRET_1: <+secrets.getValue("account.GitopsVaultSecretRef")>
  HARNESS_GITOPS_SECRET_FROM_SECRET_2: <+secrets.getValue("account.GitopsHSMSecret")>

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.expressionsResolvedConfigmapName }}
data:
  HARNESS_GITOPS_SECRET_FROM_CONFIGMAP_0: "GITOPS_VAULT_INLINE_SECRET_VALUE"
  HARNESS_GITOPS_SECRET_FROM_CONFIGMAP_1: "GITOPS_VAULT_REF_SECRET_VALUE"
  HARNESS_GITOPS_SECRET_FROM_CONFIGMAP_2: "GITOPS_HSM_SECRET_VALUE"
