apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.expressionsSecretName }}
type: Opaque
stringData:
{{- range $index, $value := .Values.secretExpressions }}
  HARNESS_GITOPS_SECRET_FROM_SECRET_{{ $index }}: {{ $value }}
{{- end }}

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.expressionsResolvedConfigmapName }}
data:
{{- range $index, $value := .Values.configMapValues }}
  HARNESS_GITOPS_SECRET_FROM_CONFIGMAP_{{ $index }}: {{ $value | quote }}
{{- end }}
